@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');
html, body{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/*Style of navbar*/

.navbar{
    display: flex;/*Deixa o elemento flexivel*/
    justify-content: space-between;/*alinha os elementos filhos ao longo de todo o espaço do eixo principal*/
    padding: 1.5rem 2.5rem;
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.navbar > li {
    display: flex;
    align-items: center;/*Alinha os itens no centro*/;
    padding-right: 25rem;
    font-weight: bold;
}

.nav-list{
    display: flex;
    align-items: center;
}

.nav-list > ul{
    display: flex;
    justify-content: center;
    list-style: none;/*tira frufru*/
}

.navbar > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar > ul > li,
 .navbar > ul > .nav-list > li {
    color: rgb(255 255 255);
    font-weight: 400;
    font-size: 1rem;
}

.navbar > li > .nav-item > li :hover {
   font-weight: 700;
}

.navbar > ul > .nav-list {
    display: flex;
    gap: 1rem;
}

.nav-item > .help-link {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
}

.nav-link{
    text-decoration: none;/*desmarca links*/
    font-size: 1.15rem;
    color: white;
    font-weight: 400;
}

.navbar > ul > .nav-list > button{
    display: flex;
    justify-content: center;
    border: none;
    background-color: #0187a7;
    color: white;
    list-style: none;
    padding: 10px 15px;
    border-radius: 5px;
}


.login-btn{
    color: white;
    font-weight: 450;
    font-size: 1.1rem;
    cursor: pointer;
}

/*End Style of navbar*/

/*Style of rent*/

.alugar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6em 0em 5em;
    gap: 1rem;
    background: rgba(0,0,0,.45);
    width: 100%;
}

input.input-place{
    display: flex;
    border-radius: 5px;
    box-shadow: 0px;
    box-sizing: 0;
    padding: 0.5rem;
    font-size: 18px;
    border: none;
    width: 100%;
}

input.input-place-return{
    display: flex;
    border-radius: 5px;
    box-shadow: 0px;
    box-sizing: 0;
    padding: 0.5rem;
    font-size: 18px;
    border: none;
    width: 100%;
}

input.input-date-remove{
    display: flex;
    border-radius: 5px;
    box-shadow: 0px;
    box-sizing: 0;
    padding: 0.5rem;
    width: 100%;
    font-size: 18px;
    border: none;
    width: 100%;
}

input.input-date-return{
    display: flex;
    border: none;
    border-radius: 5px;
    box-shadow: 0px;
    padding: 0.5rem;
    width: 100%;
    font-size: 18px;
}

#button-search{
    display: flex;
    box-shadow: none;
    border-color: white;
    border-width: 0.2vh;
    padding: 0.5rem 1rem 0.1rem;
    background-color: #0187a7;
    border-radius: 0.2em;
}

#button-search a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

.p1{
    display: flex;
    font-size: 3.3vh;
    color: white;
}

.p2{
    display: flex;
    font-size: 14px;
    color: white;
}

.input-give{
    display: flex;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.input-give:hover {
    background-color: #fff;
}

span.give-back{
    color: white;
}
/*End Style of rent*/

/*Style Slides*/
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 800px;
    margin-top: 360px;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;
}

/*End Style of rent*/